body {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    height: 2em;
    background-color: #00ffff;
    border: 1px solid black;
}

section {
    background-color: #8dc3c5;
    border: 1px solid black;
    margin: auto 0;
    padding-top: 2em;
	display: block;
}

article {
    border: 2px solid red;
}

.one {
    border: 2px solid red;
}

footer {
    background-color: #2e8b57;
    border: 1px solid green;
}

.f1,
.f2,
.f3 {
    border: 2px solid black;
}

.f2 {
    padding-bottom: 2em;
}

.f3 {
    position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2em;
        background-color: red;
        color: white;
        text-align: center;
     }
